################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Calculate/obj
/Calculate/bin
/.vs/Calculate
/packages/NUnit.3.12.0
